@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --green :#8CC461;
  --white:#FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html{
  font-size: 3rem;
}
body{
  background-color: var(--green);
  font-family: "Roboto", sans-serif;
}
.main-container{
 
 
  width: 100%;
  height: 100%;

}
.main-container .head-section{
  border: 2px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 110px;
  margin: 3% ;
  margin-left: 18%;
  border-radius: 10px;
  padding: 17px;
  
}

.main-container .head-section h1{
  color:var(--white); 
  font-size: .5rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.main-container .head-section .result-ScorBox{
  /* background-color: aqua; */
  width: 40%;
  display: flex;
 justify-content: flex-end;
  gap: 16px;
}
.main-container .head-section .score-box {
  background-color: #FFFFFF;
  width: 90px;
  height: 85px;
  padding: 10px;
  border-radius: 7%; 
  text-align: center;
}
.main-container .head-section .score-box h3{
  color: #656565;
  font-size: .2rem;
  letter-spacing: 2px;
  font-weight: 600;

}
.main-container  .head-section  #compScore,#userScore{
  font-size: .9rem;
  font-weight: bold;
  color: #000000;
}

.main-container  .game-card{
  width: 60vw;
  margin: auto;
display: flex;

/* background-color: #FFFFFF; */
margin-top: 7%;
}

.main-container  .game-card .img-card{
  /* background-color: #656565; */
  width: 50%;

}
.main-container  .game-card .game-rules{
  background-color: #004429;
  width: 230px;
  height: 270px;
  padding: 12px;
  border: 4px solid #FFFFFF;
  border-radius: 12px;
  color: #FFFFFF;
  margin-left: 20%;
position: relative;

}
.main-container .game-card .game-rules ul {
list-style-type:square;


}
.main-container .game-card .game-rules h1{
  font-size: .4rem;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 500;
}



.main-container .game-card .game-rules ul li {
font-size: 12px;
 font-weight: 300;
 margin-left: 12px;
}
li::marker{
  color:yellow;
  font-size: .4rem;
  line-height: .5rem;
}

.cross-circl{
  background-color: red;
  width: 50px;
  height: 50px;
  border: 4px solid #FFFFFF;
  border-radius: 70px;
  position: absolute;
  top: -13%;
  left: 88%;
  cursor: pointer;
}
.cross-circl .x-img{
  width: 20px;
  margin: 10px;
}
#close-btn{
  outline: none;
  width: 45%;
  padding: 6px;
  border: 2px solid #FFFFFF;
  background: transparent;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: .3rem;
  text-transform: uppercase;
  position: absolute;
  top: 107%;
  left: 64%;
  cursor: pointer;
}





.game-card .img-card{
  /* border: 4px solid #000000; */
  /* margin-left: 15%; */
  /* width: 40%; */
  position: relative;
  left: 10%;


  
}
 .game-card .img-card .frist-part{
  background-color: #87977a;
position: relative;
 
  
}
 .game-card .img-card .frist-part .rock-circl{

position: absolute;
left: 25%;
 
  
}
.game-card .img-card .frist-part .line-1{

  position: absolute;
  left: 45%;
   top: 12px;
    
  }
  .game-card .img-card .frist-part .scissor-circl{
  
   position: absolute;
   left: 75%;
  }


  .game-card .img-card .second-part{

    position: relative;
    
  }
  
  .game-card .img-card .second-part .left-line {

    position: absolute;
    top: 80px;
    right: 15%;
  
    
  }
 
.game-card .img-card .second-part .right-line {
    
    position: absolute;
    top: 74px;
    left:40%;
 
  } 


  .game-card .img-card .third-part{
   
    position: relative;
    /* height: 100px; */
  }
  
  .game-card .img-card .third-part .paper-circl{
 
    position: absolute;
    top: 152px;
    /* background: #004429; */
    left: 50%;
  }

 

.circl{
 
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: 11;

}
.rock-circl{
  background-color: #0074B6;
}
.scissor-circl{
  background-color: #BD00FF;
}
.paper-circl{
  background-color: #FFA943;
}
.white-circle{
  background-color: var(--white);
  height: 75px;
  width: 75px;
  border-radius: 50px;
  margin: 12px;
  /* padding: 7px; */
  text-align: center;
 cursor: pointer;
}
#scissor{
  width: 40px;
  margin: 12px;

}

#paper{
  width: 50px;
  margin: 12px;

}
#rock{
  width: 58px;
  margin: 10px;

}